@font-face {
	font-family: head-font; // H1, headlines, buttons and labels
	src: url(../fonts/Grundfos-TheSans-V2-OT/GrundfosTheSansV2OT-5R.otf);
}

body {
    background-color: #f5f5f5;
}

h1 {
  font-family: head-font;
  text-align:center;
  padding-top:30px;
}

h2 {
   font-family: head-font;
   font-size: 20px; 
}

h3 {
    font-family: head-font;
    font-size: 20px;
    font-weight: 600;
}

p {
   font-family: head-font;
   font-size: 12px; 
}

#header{
    width: 100%;
}

.tagline{
    width: 55%;
    margin: 30px;
    float: left;
     &__img {
        width: 100%;
    }
}

.profil{
    float: right;
    background-color: #e4e4e4;
    width: 40%;
    height: 551px;
    &__navn{
        margin-top: 30px;
        margin-left: 30px;
    }
     &__titel{
        margin-top: 3px;
        margin-left: 31px;
        font-size: 14px;
        font-style: italic;
    }
     &__achievements{
        margin-top: 30px;
        margin-left: 30px;
    }
     &__point{
        margin-top: 30px;
        margin-left: 30px;
    }
     &__button {
        width: 135px;
        background-color: #6eb556;
        font-size: 14px; 
        color: white;
        padding: 9px; 
        font-family: head-font;
        cursor: pointer; //musen ændres til en lille hånd
        letter-spacing: 1px; 
        //border: none;
        margin-left: 10%;
         
        position: relative; // arrow
    }
    &__button:hover {
        background-color: #4aa22c;
    }
}

.donate:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: "";
    position: absolute;
    //border-radius: 5px; 
    
    border-left-color: #6eb556;
    border-width: 18px;
    margin-top: -18px;
        //border-radius: 5px;
}


.topics{
   width: 96%;
    height: 250px;
    background-color: #e4e4e4;
    margin-left: 30px;
    margin-top:350px;
}



// SLIDER JUMP IN START//

#hi {
  max-width:790px;
    float: left;
    margin-left: 30px;
}


.slider_header{
    background: #11497b;
    color: white;
}

.slider_header h1{
    padding: 10px;
    text-align: left;
    margin-left: 15px;
}

.slide_control {
  height: 171px;
  width:10px;
  vertical-align:top;
  display:inline-block;
  cursor: pointer;
  -webkit-user-select: none;        
  -moz-user-select: none;
  -ms-user-select: none;
  color: rgba(0, 0, 0, 0.8);
  font-size: 30px;
  padding-top: 132px;
  //padding-left: 15px;
}
.slide_control.l{
  margin-right:25px;
    margin-left: 15px;
}
.slide_control.r{
  margin-right: 15px;
    margin-left: -15px;
}
.slide_control p {
  font-size:12px;
  color:blue;
}
.slider_boxes {
  margin-top: 5px;
    background: #e4e4e4;
}

.slider_main {
  padding-left:0;
    padding-left: 7px;
}
.slider_boxes ul {
  display:inline-block;
}
.slider_boxes ul li {
  display: inline-block;
  width: 311px;
	height: 300px;
	//background-color: #34648f;//
	margin-right: 40px;
	vertical-align: bottom;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.box_img{
    position: absolute;}

.XXX {
  display:none !important;
}
.slider_box_text {
	padding:27px;
	position: relative;
  text-align:center;
   
}
.slider_box_text h3 {
	font-size: 21px;
	color: rgba(0,0,0,.87);
	font-family: head-font ;
	margin-bottom:12px;
	position: relative;
    color: white;
}
.slider_box_text p {
	font-size: 16px;
	line-height: 25px;
	color: rgba(0,0,0,.54);
	font-family: head-font;
	position: relative;
  margin-bottom: 25px;
    color: white;
}
.slider_box_text a {
  border: 2px solid #f49500;
  padding: 5px 20%;
  color: rgba(0,0,0,.87);
  text-decoration: none;
  font-family:head-font;
  text-transform:uppercase;
  letter-spacing:3px;
  font-size:12px;
    color: white;
    margin-top: 50%;
}

.jumpIn{
    margin-top: 80%;
}


//* SLIDER JUMP IN END*//


/* Top topics filter  ---  */

.topic-filter {
	margin-top: 100px;
	float: left;
	width: 100%;
}

.timeframe {
	margin: 20px;
}



#topics { 
	width:100%; 
	margin:20px 0px; 
}

.tile { 
	float:left; 
	min-height:100px; 
	max-height:150px; 
	width:20%; 
	border:1px #fff solid; 
}

.tile:hover { 
	opacity: 0.5; 
}

.new { 
	background:#00ffb2;
}

.recom { 
	background: #ffffb2;
}

.recent { 
	background: #ddd; 
}

.btn { 
	padding: 9px;
	width: 135px;
	background-color: #999;
	text-decoration: none; 
	font-family: head-font; 
	text-transform:uppercase;
	letter-spacing: 1px;
	font-size: 14px; 
	color: white; 
	display:block; 
	float:left;
	margin: 5px;
	
}


.btn:hover { 
	cursor:pointer; 
	background: #727272; 
	color: white; 
}



/* Element filtering  ---- w3schools   */

.container {
    overflow: hidden;

}


.filterDiv {
    float: left;
    background-color: #999;
    color: #ffffff;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}


/* Dropdown Button   ---- w3schools   */
.dropbtn {
	padding: 9px;
	width: 135px;
	background-color: #999;
	text-decoration: none; 
	font-family: head-font; 
	text-transform:uppercase;
	letter-spacing: 1px;
	font-size: 14px; 
	color: white; 
	display:block; 
	float:left;
	margin: 5px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #727272;
}



/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #999;
    min-width: 230px;
    z-index: 1;
}


/* Change color of dropdown links on hover */
.dropdown-content .btn:hover {
	background-color: #727272;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
	display:block;
}

/*   filtering topics style end   */